<nav class="nav nav-pills nav-fill">
  <a class="nav-link" aria-current="page" href="/">My Movies</a>
  <a class="nav-link" href="/tv"> My TV Shows</a>
  <a class="nav-link" href="/anime">My Animes</a>
</nav>
