<nav class="nav nav-pills nav-fill p-1 mb-0 bg-secondary text-white">
  <a class="nav-link text-white" aria-current="page" href="/">My Movies</a>
  <a class="nav-link text-white" href="/tv"> My TV Shows</a>
  <a class="nav-link text-white" href="/anime">My Animes</a>
</nav>
