<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title></title>
  </head>
  <body class="bg-warning">
    <%- include ('./partials/header.ejs') %>
    <div class="text-center">
      <h1>Add New Anime</h1>
      <form class="" action="/anime" method="POST">
        <div class="mb-3">
          <input type="text" name="title" placeholder="Anime Title">
          <input type="number" name="year" placeholder="Year Released"> <br>
          <input type="text" name="mangaka" placeholder="Mangaka (Creator)">
          <input type="text" name="studio" placeholder="Animation Studio"> <br>
          <input type="number" name="numSeasons" placeholder="Number of Seasons or Arcs">
          <input type="text" name="genre" placeholder="Genre(s)"> <br>
          Watched: <input type="checkbox" name="watched" >
          <input type="number" name="rating" min="1" max="5" placeholder="Rating (1-5)"> <br>
          <input type="text" name="comments" placeholder="Comments">
          <input type="text" name="imgUrl" placeholder="Movie Poster Image URL"> <br>
        </div>
        <input class="btn btn-secondary btn-sm text-white" type="submit" value="Create">
      </form>
    </div>

  </body>
</html>
