<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add New Anime</h1>
    <form class="" action="/anime" method="POST">
      <input type="text" name="title" placeholder="Anime Title">
      <input type="number" name="year" placeholder="Year Released"> <br>
      <input type="text" name="mangaka" placeholder="Mangaka (Creator)">
      <input type="text" name="studio" placeholder="Animation Studio"> <br>
      <input type="number" name="numSeasons" placeholder="Number of Seasons or Arcs">
      <input type="text" name="genre" placeholder="Genre(s)"> <br>
      Watched: <input type="checkbox" name="watched" >
      <input type="number" name="rating" min="1" max="5" placeholder="Rating (1-5)"> <br>
      <input type="text" name="comments" placeholder="Comments"> <br>
      <input type="submit" value="Create">
    </form>

  </body>
</html>
