<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Tracker</title>
  </head>
  <body>
    <h1>Movie and TV Show Tracker</h1>
    <form class="" action="/new" method="GET">
      <input type="submit" value="ADD MOVIE">
    </form>
    <table>
      <% for(let i = 0; i < allMovies.length; i++) { %>
        <tr>
          <td><%=allMovies[i].year%></td>
          <td><%=allMovies[i].title%></td>
          <td>Watched:
            <% if (allMovies[i].watched === true) { %>
              Yes
            <% } else { %>
              No
            <% }%>
          </td>
        </tr>
      <% } %>
    </table>

  </body>
</html>
