<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>TV Show Tracker</h1>
    <nav>
      <ul>
        <li><a href="/">My Movies</a></li>
        <li><a href="/tv"> My TV Shows</a></li>
        <li><a href="/anime">My Animes</a></li>
      </ul>
    </nav>
    <form class="" action="/tv/new" method="GET">
      <input type="submit" value="ADD TV SHOW">
    </form>
    <ul>
      <% for (let i = 0; i < allTv.length; i++) { %>
        <li>
          <a href="/tv/<%=allTv[i].id%>"><%=allTv[i].title%></a>
        </li>
      <% } %>
    </ul>

  </body>
</html>
